<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Reply Added</title>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <p>A new reply has been added to your question in the video <b>"<%= title %>"</b></p>
    <p>Please login to oue website to view the reply and continue the discussion.</p>
    <p>Thank you being part of Code Therapist Community!</p>
</body>
</html>